<% @movies.each do |movie| %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <p class="text-muted">
    <%= movie.year %> -
    <%= movie.genre %> -
    <%= movie.director %>
  </p>
<% end %>